.login-interface{
  margin: 15% 20% 40% 40%;
}
.bottom{
  margin-left: -1px;
  font-size: 12px;
}
#register:hover, #findPassword:hover{
  color: red;
}
#loginButton{
  margin-left: 170px;
  width: 50px;
  height: 25px;
  background-color: white;
}
#registerButton{
  margin-left: 170px;
  width: 70px;
  height: 25px;
  background-color: white;
}
#backButton{
  width: 80px;
  height: 25px;
  background-color: white;
}
#loginButton:hover, #registerButton:hover, #backButton:hover{
  background-color: black;
  color: white;
}
